<hgroup>
  <h1>GymDex</h1>
  <h2>.SessionManager</h2>
</hgroup>

<h3>Sessions</h3>
<a href="/">
<button type="button" name="Home">Home</button>
</a>
<% for session in @sessions %>
  <h4>Name: </h4><p><%= session.name %></p>
  <h4>Starting Time: </h4><p><%= session.starting_time %></p>
  <h4>Type: </h4><p><%= session.type %></p>
  <h4>Status: </h4><p><%= session.active_session %></p>
  <h4>Bookings: </h4><p><%= session.session_size %></p>
  <h4>Fully Booked?: </h4><p><%= session.session_at_max? %></p>
  <h4>Premium Session Only?</h4><p><%= session.peak_time? %></p>
  <a href="/session/<%=session.id%>/edit">
  <button type="button" name="Edit">Edit</button>
  </a>
  <a href="/booking/new">
  <button type="button" name="Book">Book</button>
  </a>
  <hr>
<% end %>
<a href="/">
<button type="button" name="Home">Home</button>
</a>
