<h1>Sessions</h1>

<% for session in @sessions %>
  <p><%= session.name %></p>
  <p><%= session.starting_time %></p>
  <p><%= session.type %></p>
  <p><%= session.status %></p>
  <p><%= session.session_size %></p>
  <p><%= session.session_at_max? %></p>
  <p><%= session.peak_time? %></p>
  <hr>
<% end %>
